<html>
    <body>
        <div>
            Logged in
        </div>
        <form action="/logout" method="post">
            <button id="logout" type="submit">Logout</button>
        </form>
    </body>
</html>